.env
.env*.bak

.idea/

/mysql-data/*
!/mysql-data/.gitkeep
/rabbitmq/*
!/rabbitmq/.gitkeep
/execution-data/*
!/execution-data/.gitkeep
/deployment/*.json
/deployment/*.lock
/configs/*.json
/blockscout-postgres-data/*
!/blockscout-postgres-data/.gitkeep
