[submodule "surge-taiko-mono"]
	path = surge-taiko-mono
	url = https://github.com/NethermindEth/surge-taiko-mono.git
	branch = main
[submodule "ethereum-package"]
	path = ethereum-package
	url = https://github.com/ethpandaops/ethereum-package.git
