<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <!-- Console target for shell redirection to capture -->
    <target xsi:type="Console" 
            name="console"
            layout="${longdate} [${uppercase:${level:padding=-5}}] ${logger}: ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Log all messages to console (will be captured by shell redirection) -->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
